/*=================================
-----------------------------------
  Texas|Blockchain HTML Template
  Version: 1.0
  Author: Shamim Hossain
  Email: hossains159@gmaill.com
  Facebook: facebook.com/shamscorner
 ---------------------------------
 =================================*/

/*----------------------------------------*/
/* CSS variables
/*----------------------------------------*/
:root {
  --text-blue: #2b88c4;
  --gradient-bg-color: #005da5;
  --gradient-end-bg-color: #0027a5;
  --form-input-bg-color: #3472b7;
  --main-bg-color: #005ea5;
  --main-bg-dark-color: #000b2d;
  --accent-orange-color: #ffb300;
  --logo-color: #c0deff;
}

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
  height: 100%;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/*---------------------
Global elements
 -----------------------*/
.bg-main {
  background-color: var(
    --main-bg-color
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(
    90deg,
    var(--main-bg-color),
    #005ba1,
    var(--main-bg-dark-color)
  ); /* Standard syntax (must be last) */
}
.bg-second {
  background-color: #f2f2f2;
}
.pd-100 {
  padding: 20px;
}
.bg-curvy {
  background: url("../img/bg-curvy.png") no-repeat;
  background-size: auto 915px;
}
.container-round {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: whitesmoke;
}
.borderless td,
.borderless th {
  border: none;
}

.borderless > tbody > tr > td,
.borderless > tbody > tr > th,
.borderless > tfoot > tr > td,
.borderless > tfoot > tr > th,
.borderless > thead > tr > td,
.borderless > thead > tr > th {
  border: none;
}

/*---------------------
Commom elements
 -----------------------*/

/*---- navbar branding ----*/
.navbar-dark .navbar-brand {
  color: var(--logo-color);
}
/*---- end of navbar branding ----*/

/*---- Preloder ----*/
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: white;
}

.loader {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

#preloder p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 115px;
  margin-left: -110px;
  font-size: 20px;
  font-weight: 500;
  color: #44515c;
  display: none;
}
#preloder p span {
  color: var(--text-blue);
}
/*---- end of loader ----*/

/*---- logo ----*/
.logo {
  position: absolute;
  top: 40px;
  left: 45px;
  color: white;
}
/*---- end of logo ----*/

/*---- coin section ----*/
.coin-left {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -87px;
  top: 136px;
}
.coin-right {
  position: absolute;
  width: 200px;
  height: 200px;
  right: -82px;
  top: 298px;
}
/*---- end of coin section ----*/

/*---- gradient background container ----*/
.gradient-bg-container {
  background-color: var(
    --gradient-bg-color
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(
    var(--gradient-bg-color),
    var(--gradient-end-bg-color)
  ); /* Standard syntax (must be last) */
  padding: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
}
/*---- end of gradient background container ----*/

/*---- form elements ----*/
/*---- input ----*/
.form-input-text {
  background-color: var(--form-input-bg-color);
  border: none;
  border-radius: 0px;
  padding: 15px;
  color: white;
}

.form-input-text::placeholder {
  color: lightgray;
  opacity: 1; /* Firefox */
}

.form-input-text:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightgray;
}

.form-input-text::-ms-input-placeholder {
  /* Microsoft Edge */
  color: lightgray;
}
/*---- button ----*/
.btn-main {
  background-color: var(--gradient-bg-color);
  padding: 20px;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  border: 1px solid var(--gradient-bg-color);
  width: 200px;
}
.btn-main:hover {
  border: 1px solid lightgray;
  transition: border 0.5s;
  cursor: pointer;
}

/*---- end of form elements ----*/

/*---- navbar ----*/
.navbar-brand {
  font-size: 1.1rem;
}

.bg-navbar {
  background-color: var(
    --gradient-bg-color
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(
    var(--gradient-bg-color),
    var(--gradient-end-bg-color)
  ); /* Standard syntax (must be last) */
}

.navbar-dark .navbar-nav .active > .nav-link {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 3px;
  border-bottom: 2px solid white;
}

.navbar-dark .navbar-nav .nav-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
/*---- end of navbar ----*/

/*---- nav links ----*/
.custom-nav-links .nav-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.custom-nav-links .nav-link {
  color: rgba(255, 255, 255, 0.5);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 3px;
}
.custom-nav-links .nav-link.active {
  border-bottom: 3px solid white;
  color: white;
}
/*---- end of nav links ----*/

/*---- page end draw line ----*/
.end-draw-line {
  width: 150px;
  height: 5px;
  background-color: var(--accent-orange-color);
}
/*---- end of page end draw line ----*/

/* ----------------
Login page
 -------------------*/
.confirmation-text {
  margin-top: 20px;
  color: whitesmoke;
}

/* ----------------
leaderboard page 
 -------------------*/
#leaderboard-tab-content {
  min-height: 360px;
}
.profile-container {
  padding: 12px;
  margin-bottom: 25px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}
.profile-container .profile-container-holder {
  background-color: #2b8cc4;
  padding: 20px 50px 20px 20px;
  position: relative;
}
.profile-container .profile-container-inner {
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 10px;
}
.profile-container p {
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
}
.profile-container p span {
  font-size: 10px;
}
.profile-container p img {
  margin-top: -5px;
}
.container-badge {
  position: absolute;
  bottom: 0px;
  right: 25px;
}
#leaderboard-members-table {
  margin-top: 150px;
  margin: 150px 10px 70px 10px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
}

#leaderboard-members-table > tbody > tr > td {
  -webkit-box-shadow: 0px 5px 4px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 4px -1px rgba(0, 0, 0, 0.3);
}

#leaderboard-members-table > tbody > tr > td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-box-shadow: 0px 5px 4px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 4px -1px rgba(0, 0, 0, 0.3);
}
#leaderboard-members-table > tbody > tr > td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.3);
}

/* ----------------
Responsive
 -------------------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .md-ml-20 {
    margin-left: 20px;
  }
  .gradient-bg-container {
    padding: 50px;
  }
  .pd-100 {
    padding: 50px;
  }
  .btn-main {
    width: 300px;
  }
  .logo {
    top: 20px;
    left: 30px;
  }
  .bg-curvy {
    background-size: 100% 440px;
  }
  /*---- coin section ----*/
  .coin-left {
    width: 350px;
    height: 350px;
    left: -150px;
    top: 300px;
  }
  .coin-right {
    width: 400px;
    height: 400px;
    right: -171px;
    top: 480px;
  }
  /*---- end of coin section ----*/

  /*---- confirmation text ----*/
  .confirmation-text {
    margin-top: 65px;
  }
  /*---- end of confirmation text ----*/

  /*---- profile container in the leaderboard page ----*/
  #leaderboard-members-table .profile-picture {
    margin-top: 15px;
  }
  /*---- end of profile container in the leaderboard page ----*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .lg-ml-30 {
    margin-left: 30px;
  }
  .gradient-bg-container {
    padding: 80px;
  }
  .pd-100 {
    padding: 100px;
  }
  /*---- coin section ----*/
  .coin-left {
    width: 400px;
    height: 400px;
    left: -150px;
    top: 300px;
  }
  .coin-right {
    width: 450px;
    height: 450px;
    right: -171px;
    top: 480px;
  }
  /*---- end of coin section ----*/

  /*---- profile container in the leaderboard page ----*/
  .profile-container {
    margin-left: 25px;
    margin-right: 25px;
  }
  /*---- end of profile container in the leaderboard page ----*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
